body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background: #cccccc;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 1% 0;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #c78c19;
}
.lista{
    display: flex;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    
}
.lista li{
    padding: 5px;
}
main{
    background: linear-gradient(#ffffff, darkgray);

}
.fotobarbearia img{
    width: 100%;
}
.imgutensilios{
    width: 120px; 
    height: 120px;
    float: left;
    margin-top: 1%;

}
.descricao{
    width: 940px;
    margin: auto;
}
.h2principal{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.descricao h2{
    padding: 5px;
    margin: 3% 0;
}
.descricao p{
    margin-left: 15%;
    padding: 5px;
}
.descricao p strong{
    font-weight: bold;
}
.localizacao{
    width: 940px;
    margin: 5% auto; 
    text-align: center;
    
}
.localizacao h2, p, .mapa{
    padding: 20px;
}
.beneficios{
    width: 680px;
    margin: auto; 
}
.beneficios h2{
    margin: 3% 0;
}
.divbeneficios{
    display: flex;
    justify-content: space-between;
}
.imgbeneficios{
    width: 400px;
    height: 250px; 
    box-shadow: 10px 10px 10px 0 #000000;
}
.imgbeneficios:hover{
    transition: 400ms;
    opacity: 0.6;
}
.listagem li{
    padding: 3px;
    font-size: 18px;
}
.listagem li:before{
    content: "🟊";
}
.listagem li:first-child{
    font-weight: bold;
}
.video{
    width: 940px;
    margin: auto; 
    text-align: center; 
    margin-top: 5%; 
    padding: 30px;
}
footer{
    background: url(imagem/bg.jpg);
    text-align: center;
    color: #ffffff;
}

/*Estilizando Produtos*/

.produtos{
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    background: #ffffff;
    margin: 4% auto;
    padding: 0 10px;
}
.h2produto{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.imgproduto{
    text-align: center;
}
.cabelo, .barba, .cabelobarba{
    margin: 0 15px;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px 10px;
}
.descproduto {
    margin: 0 2%;
    text-align: center;
    font-size: 18px;
    padding: 1px;
}
.valor{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.h2produto:hover{
    font-size: 34px;
}
.cabelo:hover, .barba:hover, .cabelobarba:hover{
    border-color: #c78c19;
}
.cabelo:active, .barba:active, .cabelobarba:active{
    border-color: #088c19;
}

/*Estilizando contato*/

.maincontato{
    background: #ffffff;
    font-size: 20px;
    margin: 3% 2%;
}
#inputnome, #email, #telefone{
    display: block;
    width: 50%;
    height: 30px;
    margin: 1% 0;
}
#mensagem{
    display: block;
    width: 50%;
    height: 150px;
    margin: 1% 0;
}
.contato label, .contato legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px 0;
}
.horario legend{
    padding: 1% 0 5px 0;
}
.check{
    margin: 1% 0;
}
.botao input{
    width: 40%;
    height: 50px;
    background: orange;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    transition: 1s all;
    cursor: pointer;
}
.botao input:hover{
    background: darkorange;
    transform: scale(1.2);
}
table{
    margin-top: 2%;
}
table tr{ 
    border: 1px solid #000000;
    font-size: 16px;
    height: 30px;
    width: 100px;
    text-align: center;
}
table th{
    background: #777777;
    font-weight: bold;
    color: white;
    border: 1px solid #000000;
    width: 100px;
    padding: 8px;
}
table td{
    border: 1px solid #000000;
    padding: 8px;
}

/*Index responsivo*/
@media(max-width:700px){
    body{
        width: 700px;
        margin: auto;
    }
    .lista li{
        padding: 2px;
        margin: 0 10px 0 0;
    }
    .descricao{
        width: 680px;
        margin: auto;
    }
    .descricao p{
        width: 550px;
    }
    .imgutensilios{
        height: 150px;
    }
    .localizacao{
        width: 500px;
        margin: 0 auto;
    }
    .mapa iframe{
        width: 400px;
        height: 200px;
    }
    .beneficios{
        width: 580px;
        margin: auto; 
    }
    .video{
        width: 600px;
        margin: auto; 
    }
    .video iframe{
        width: 400px;
        height: 200px;
    }
    /*Produto responsivo*/
    .produtos{
        display: inline-block;
        width: 635px;
        margin: 2% auto;
    }
    .cabelo, .barba, .cabelobarba{
        margin: 3%;
    }
    .imgproduto{
        margin: 0 28%;
    }
    /*Contato responsivo*/
    .maincontato{
        width: 700px;
        margin: 3% 3%;
    }
    #inputnome, #email, #telefone, #mensagem{
        border: 2px solid #000000;
    }

}
