.menu{
    display: flex;
    background: #cccccc;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.opcaomenu{
    display: inline-block;
    padding: 0 5px;
}
.opcaomenu a{
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}
.produto{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    height: 400px;
    width: 100%;
    margin-top: 3%;
    padding: 0 0 20px 0;
}
.cabelo{
    border: 2px solid #000000;
}
.barba{
    border: 2px solid #000000;
}
.cabelo_barba{
    border: 2px solid #000000;
} 
.titulo{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.descricao{
    text-align: center;
    padding: 0 3px;
}
.preco{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.img{
    text-align: center;
}
.rodape{
    background: url(imagem/bg.jpg);
}
#imglogo{
    color: #ffffff;
    text-align: center;
}
#copy{
    color: #ffffff;
    text-align: center;
}
.opcaomenu a:hover{
    color: #c78c19;
    text-decoration: underline;
}
.cabelo:hover{
    border: 2px solid #c78c19;
    font-size: 17px;
}
.barba:hover{
    border: 2px solid #c78c19;
    font-size: 17px;
}
.cabelo_barba:hover{
    border: 2px solid #c78c19;
    font-size: 17px;
}
.cabelo:active{
    border: 2px solid #1f5821;
}
.barba:active{
    border: 2px solid #1f5821;
}
.cabelo_barba:active{
    border: 2px solid #1f5821;
}
