*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100px;
    height: 100px;
}
.container{
    height: 100px;
    width: 100px;
    display:flex;
}
.um{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dois{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.três{
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quatro{
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}
